$colors: (purple: #74268b,
    pink: #f542a1,
    blue: #3896e4,
    red: red,
    orange: #f5ad42,
    yellow: #f2f542,
    green: green,
);

$sectionHeight: 800px;
$heroHeight: 900px;
$sectionHeightMobile: 500px;

$containerWidth: 1300px;

$break-phone: 500px;
$break-tablet: 1100px;



@function color($color-name) {
    @return map-get($colors, $color-name)
}

;
html{
    width:100vw;
    overflow-x:none;
}
button{
    text-decoration: none;
    color: white;
    border: solid white;
    padding: 10px 20px;
    transition: all 500ms;
    background:transparent;
    &:hover {
        padding: 12px 25px;
    }
    &::before{
        content:'';

    }
}
input:focus {
   border:solid 2px red;
}

#space {
    background-image: url(/img/Planets/space.jpg);
    width:100vw;
    overflow-x:hidden;
    background-attachment: fixed;
}

body {
    margin: 0;
    font-family: 'Abel', sans-serif;
    width: 100vw;
    background: black;


    header {
        width:100vw;
        max-width:100vw;
        position: fixed;
        top: -20px;
        background: black;
        height: 140px;
        z-index: 99;
        clip-path: polygon(51% 0, 100% 0, 100% 59%, 63% 82%, 51% 66%, 17% 100%, 0 68%, 0 0, 25% 0);
        //overflow-x:hidden;
        //padding: 1em;
        //padding-left: 6em;

        @media screen and (max-width: $break-tablet) {
            top: 0;
            height: auto;
        }


        @media screen and (max-width: $break-phone) {

            clip-path: none;
        }



        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;

            //padding-bottom: 10px;
            height: 100%;
            //margin-top: -20px;

            @media screen and (max-width: $break-phone) {

                min-height: 90px;
                max-height: 90px;
                
            }

            .logo {
                color: white;
                font-weight: 100;
                font-size: 55px;
                margin: 0;
                text-decoration: none;
                font-family: Arial,
                    Helvetica,
                    sans-serif;

                @media screen and (max-width:$break-phone) {
                    font-size: 45px;
                }


            }

            .nav-link {

                display: flex;
                justify-content: space-around;
                height: 100%;
                list-style: none;
                padding: 0;
                margin: 0;
                width: 30%;

                @media screen and (max-width: $break-tablet) {
                    width: 60%;
                }

                @media screen and (max-width: $break-phone) {
                    width: 80%;
                    position: absolute;
                    right: 0px;
                    height: 70vh;
                    top: 90px;
                    background: rgb(15, 15, 15);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    align-content: stretch;
                    transform: translateX(100%);
                    transition: transform 0.5s ease-in;
                }

                li {
                    display: flex;
                    list-style: none;
                    align-items: center;

                    &.active{
                        background:rgb(31, 31, 31);
                    }

                    @media screen and (max-width: $break-phone) {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        opacity: 0;

                        &.act{
                            opacity: 1;
                        }
                    }
                }

                a {
                    text-decoration: none;
                    color: white;
                    text-transform: uppercase;
                    letter-spacing: 10px;
                    //padding: 60px 0 40px 0;
                    transition: all 300ms;
                    text-align: center;
                    padding-right: 20px;
                    padding-left: 27px;
                    font-size: 12px;
                    height: 140px;
                    display: flex;
                    align-items: center;


                    @media screen and (max-width: $break-tablet) {
                        padding: 40px 0;
                        padding-right: 10px;
                        padding-left: 17px;
                    }

                    @media screen and (max-width: $break-phone) {
                        width: 100%;
                        padding: 40px 20px;
                        height: auto;
                        justify-content: center;
                        align-items: center;
                        font-size: 22px;

                    }

                    span {
                        text-align: center;
                    }

                    &:hover {
                        background: rgb(26, 26, 26);
                        letter-spacing: 12px;
                        text-shadow: 0 0 5px color(rgb(255, 255, 255));

                    }
                }



            }

            .burger {
                display: none;

                @media screen and (max-width: $break-phone) {
                    display: block;
                    cursor: pointer;
                }


                &.toggle {
                    .line1 {
                        transform: rotate(-45deg) translate(-5px, 6px);
                    }

                    .line2 {
                        opacity: 0;
                    }

                    .line3 {
                        transform: rotate(45deg) translate(-5px, -6px);
                    }
                }

                div {
                    width: 25px;
                    height: 3px;
                    background-color: white;
                    margin: 5px;
                    transition: transform 0.2s ease-in;
                }
            }

            .nav-active {
                transform: translateX(0);
            }

        }

    }

    .hero {
        background: red;
    }

}

.altSection {
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;

    #partnersHolder {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;

        // align-items: center;
        // flex-wrap: wrap;
        .partner {
            // width: 800px;
            text-align: center;
            padding-bottom: 50px;
            padding-left: 50px;
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            .pImg {
                width: 100%;
                height: 220px;
                background-color: white;
                margin-bottom: 20px;

            }

            .glow {
                animation: colorScroll 20s linear infinite;
                font-size: 145px;
                background-size: 600%;
                // top: 0;
                position: absolute;
                margin: 0;
                filter: blur(10px);
                line-height: 100%;
                z-index: 1;
                background-image: linear-gradient(to right, #d624a6, #f7a140, green, #22d8d8, purple, #d624a6);
                // opacity:0;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .title {
                font-size: 145px;
                position: relative;
                margin: 0;
                padding: 40px 0;
                background-image: linear-gradient(to right, #d624a6, #f7a140, green, #22d8d8, purple, #d624a6);
                background-clip: text;
                background-size: 600%;
                -webkit-background-clip: text;
                -webkit-text-fill-color: white;
                cursor: pointer;
                animation: colorScroll 20s linear infinite;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 2;

                // color:red; 
                &:hover {
                    -webkit-text-fill-color: transparent;


                    &::after {

                        opacity: 1;


                    }
                }


            }

            h5 {
                font-size: 25px;
                margin: 0;
            }

            p {
                font-size: 20px;
                margin: 0;
                margin-top: 10px;
            }
        }
    }

}

.bioHolder {
    display: flex;
    justify-content: center;
    // background: rgba(0, 0, 0, 0.45);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
    position: relative;

    @media screen and (max-width:500px) {
        padding-top:0px;
    }

    .bio {
        display: flex;
        flex-direction: horizontal;
        z-index: 5;
        align-items: center;
        justify-content: center;
        width: $containerWidth;
        margin-bottom: 150px;
        @media screen and (max-width:500px) {
            display:flex;
            flex-direction:column;
            width:100vw;
        }

        .whoCol {
            width: 50%;
            @media screen and (max-width:500px) {
                width: 90vw;
            }
            .name {
                color: purple;
                font-size: 20px;
                margin: 0;
                text-transform: uppercase;
            }

            .nick {
                color: purple;
                // font-family: 'Major Mono Display',
                // monospace;
                font-size: 170px;
                @media screen and (max-width:500px) {
                   font-size:75px;
                }
                margin: 0;
                text-transform: uppercase;
                line-height: 100%;
            }

            .main {
                color: white;
                font-size: 24px;
                @media screen and (max-width:500px) {
                    font-size:22px;
                }
            }

            .desc {
                color: white;
                font-size: 22px;
                @media screen and (max-width:500px) {
                font-size:18px;
            }
            }

            &.switch {
                order: 2;
                padding-left: 80px;
                padding-right: 0px;
            }

            &.left {

                text-align: left;
                padding-right: 80px;
                @media screen and (max-width:500px) {
                    padding-right:0px;
                }

            }

            .backNeb {
                background-position: center;
                background-image: url('/img/headshots/background (2).png');
                background-attachment: fixed;
                background-size: cover;
                animation: colorRotate2 5s linear infinite;

            }

            .headShot {
                width: 100%;
                height: 600px;
                margin-bottom: 50px;
                background-position: center;
                background-size: cover;

                 @media screen and (max-width:500px) {
                     height:200px;
                 }
                
                // background:white;

                &.chris {
                    background-image: url('/img/headshots/chris.png')
                }

                &.teddy {
                    background-image: url('/img/headshots/teddy.png')
                }

                &.jack {
                    background-image: url('/img/headshots/jack.png')
                }
            }

            .stats {
                h5 {
                    color: white;
                    font-size: 22px;
                    margin: 0;
                    margin-top: 15px;
                    margin-bottom: 7px;
                }

                .statLine {
                    background-color: rgba(128, 128, 128, 0.308);
                    width: 100%;
                    height: 30px;
                    border-radius: 7px;

                    .inside {
                        width: 100%;
                        height: 100%;
                        background-color: lightblue;
                        border-radius: 7px;
                    }

                    &.c1 {
                        .inside {
                            width: 85%;
                        }
                    }

                    &.c2 {
                        .inside {
                            width: 80%;
                        }
                    }

                    &.c3 {
                        .inside {
                            width: 3%;
                        }
                    }

                    &.t1 {
                        .inside {
                            width: 78%;
                        }
                    }

                    &.t2 {
                        .inside {
                            width: 75%;
                        }
                    }

                    &.t3 {
                        .inside {
                            width: 50%;
                        }
                    }

                    &.j1 {
                        .inside {
                            width: 90%;
                        }
                    }

                    &.j2 {
                        .inside {
                            width: 85%;
                        }
                    }

                    &.j3 {
                        .inside {
                            width: 18%;
                        }
                    }

                }
            }

        }
    }
}



.bg {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/img/Planets/space.jpg');
    z-index: 1;

    #canvas {
        height: 100vh;
        position: absolute;
        top: 0;
        z-index: 2;
        max-width: 100%;


        @media screen and (max-width:$break-phone) {
            height: $sectionHeightMobile;
        }

    }
}


section {
    height: $sectionHeight;
    position: relative;
    display: flex;
    justify-content: center;

    @media screen and (max-width:$break-phone) {
        height: $sectionHeightMobile;
    }


    .cont {
        max-width: $containerWidth+200px;
        width: 100%;
        //background: blue;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        position: relative;
        z-index: 7;
        pointer-events: none;
        padding: 0 20px 200px 20px;

        .planet {
            // width: 1200px;
            position: fixed;
            left: -10px;
            bottom: 0;
            animation: colorRotate2 2s linear infinite;
        }

        @media screen and (max-width: $break-tablet) {
            max-width: 100%;
            justify-content: flex-end;
            align-items: flex-end;
            padding-bottom: 200px;
        }

        @media screen and (max-width: $break-phone) {
            max-width: 100%;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 200px;
        }



        .HomeHero-Col {

            display: flex;
            align-items: flex-end;
            justify-content: stretch;




            .creative {
                font-size: 160px;
                color: white;
                line-height: 80%;
                text-align: right;
                margin-bottom: 0;
                margin-right: 30px;

                &.fixed {
                    position: fixed;
                    bottom: 1.5em;
                    right: .7em;
                     @media screen and (max-width:$break-tablet) {
                         bottom:3.4em;
                     }
                }

                @media screen and (max-width:$break-tablet) {
                    font-size: 120px;
                }

                @media screen and (max-width:$break-phone) {
                    font-size: 5em;
                    text-align: right;
                    margin-right: 0;
                }

                &.lh {
                    line-height: 100%;
                }



                .colorChange {
                    background-image: linear-gradient(to right, #d624a6, #f7a140, green, #22d8d8, purple, #d624a6);
                    background-size: 600%;
                    z-index: 1;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: colorScroll 20s linear infinite;
                    line-height: 100%;
                    position: relative;

                    &.bril::after {
                        content: attr(data-glow);
                        position: absolute;
                        top: 10;
                        left: 0;
                        filter: blur(10px);
                        line-height: 100%;
                        z-index: 5;
                        background-image: linear-gradient(to right, #d624a6, #f7a140, green, #22d8d8, purple, #d624a6);
                        background-size: 600%;
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        animation: colorScroll 20s linear infinite;
                    }

                    &::after {
                        content: attr(data-glow);
                        position: absolute;
                        top: 10;
                        left: 0;
                        filter: blur(10px);
                        line-height: 100%;
                        z-index: 5;
                        background-image: linear-gradient(to right, #d624a6, #f7a140, green, #22d8d8, purple, #d624a6);
                        background-size: 600%;
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        animation: colorScroll 20s linear infinite;
                    }
                }




            }

        }
    }
}

#contact {
    background: url(/img/computer.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: -60px;
    left: -40px;
    transform: scale(1.0);
    animation: colorRotate2 10s linear infinite;
}

#canvasSpace {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    height: $heroHeight;


}

.Hero {

    height: $heroHeight;
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    @media screen and (max-width:$break-phone) {
        height: $sectionHeightMobile;
    }

    #topSec {
        position: fixed;
        width: 100vw;
        height: 80vh;
        top: 0;
        z-index: 30;
        opacity: 1;
    }


    &.where {
        background-image: url('/img/background/miami.jpg');
    }



}

.gg {

    #canvasHex {
        position: absolute;
        height: $sectionHeight !important;
         @media screen and (max-width:500px) {
             height: auto !important;
         }
    }

    #midSec {


        position: fixed;
        top: 0;
        left: 120px;
        width: 40%;
        height: 100vh;
        opacity: 0;


    }

    #lastSec {

        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        opacity: 0;


    }

    .cc {

        width: $containerWidth;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55%;
        text-align: center;
        color: white;
        position: relative;
        z-index: 15;

        &.al-left {
            align-items: flex-start;
            text-align: left;
            width: 80%;
            padding-right: 320px;
            padding-left: 120px;
        }

        @media screen and (max-width:$break-tablet) {
            width: 95%;
        }

        .mini {

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;

            @media screen and (max-width:$break-phone) {
                margin-bottom: 30px;
            }


            .icon {
                width: 40px;
                height: 40px;
                //background: black;
                position: absolute;
                background-image: url('/img/cube.png');
                background-size: contain;

                &.ico-black {
                    filter: grayscale(1) contrast(3);
                }

                ;

                &.ico-purple {
                    filter: hue-rotate(-25deg);
                }

                &.colorChange {
                    animation: colorRotate 10s linear infinite;

                }
            }

            h6 {
                margin: 0;
                font-size: 12px;
                letter-spacing: 4px;
                font-weight: 700;
                text-transform: uppercase;
                position: relative;

                @media screen and (max-width:$break-phone) {
                    font-size: 8px;
                }
            }


        }

        h2 {
            text-transform: capitalize;
            line-height: 95%;
            font-size: 65px;
            margin: 0;
            padding-top: 25px;

            @media screen and (max-width:$break-tablet) {
                font-size: 38px;
            }
        }

        p {
            width: 73%;
            font-size: 18px;

            @media screen and (max-width:$break-phone) {
                font-size: 16px;
                width: 90%;
            }
        }

        a {
            text-decoration: none;
            color: white;
            border: solid white;
            padding: 10px 20px;
            transition: all 500ms;

            &:hover {
                padding: 12px 25px;
            }
        }
    }
}

.sec {


    // height: $sectionHeight !important;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;

    @media screen and (max-width:$break-phone) {
        height: $sectionHeightMobile !important;
    }

    &.purp2pink {
        background: linear-gradient(color(purple), color(pink));
    }

    &.pink2purp {
        background: linear-gradient(color(pink), color(purple));
    }

    &.orange2pink {
        background: linear-gradient(color(orange), color(pink));
    }

    &.pink2orange {
        background: linear-gradient(color(pink), color(orange));
    }

    &.blue2green {
        background: linear-gradient(color(blue), color(green));
    }

    &.green2blue {
        background: linear-gradient(color(green), color(blue));
    }

    &.pink2yellow {
        background: linear-gradient(color(pink), color(yellow));
    }

    &.yellow2pink {
        background: linear-gradient(color(yellow), color(pink));
    }

    &.blue2purple {
        background: linear-gradient(color(blue), color(purple));
    }

    &.purple2blue {
        background: linear-gradient(color(purple), color(blue));
    }

    &.blue2pink {
        background: linear-gradient(color(blue), color(pink));
    }

    &.pink2blue {
        background: linear-gradient(color(pink), color(blue));
    }

    &.blue2orange {
        background: linear-gradient(color(blue), color(orange));
    }

    &.orange2blue {
        background: linear-gradient(color(orange), color(blue));
    }

    &.black {
        background-color: black;
        z-index: 7;
    }



}



.divider-bottom {
    position: absolute;
    z-index: 10;
    bottom: -2px;
    //background: color(purple);
    height: 150px;
    width: 100vw;
    clip-path: polygon(51% 59%, 71% 30%, 100% 72%, 100% 100%, 52% 100%, 18% 100%, 0 100%, 0 75%, 21% 21%);

    &.colorChange {
        background-image: linear-gradient(to right, green, #22d8d8, purple, #d624a6, #f7a140, green);
        background-size: 600%;
        z-index: 10;
        animation: colorScroll 20s linear infinite;
    }

    &.purple {
        background: color(purple);
    }

    &.pink {
        background: color(pink);
    }

    &.blue {
        background: color(blue);
    }

    &.green {
        background: color(green);
    }

    &.orange {
        background: color(orange);
    }

    &.yellow {
        background: color(yellow);
    }

    &.black {
        background: black;
        bottom: -10px;
    }

    @media screen and (max-width:$break-phone) {
        height: 85px;
    }

}

.divider-top {
    position: absolute;
    top: -5px;
    background: color(pink);
    height: 250px;
    width: 100vw;
    clip-path: polygon(46% 30%, 67% 53%, 100% 25%, 100% 0, 85% 0, 65% 0, 30% 0, 0 0, 0 25%, 21% 56%);
    z-index: 10;

    &.colorChange {
        background-image: linear-gradient(to right, #d624a6, #f7a140, green, #22d8d8, purple, #d624a6);
        background-size: 600%;
        z-index: 10;
        animation: colorScroll 20s linear infinite;
    }

    &.purple {
        background: color(purple);
    }

    &.pink {
        background: color(pink);
    }

    &.blue {
        background: color(blue);
    }

    &.green {
        background: color(green);
    }

    &.orange {
        background: color(orange);
    }

    &.yellow {
        background: color(yellow);
    }

    &.black {
        background: black;
        top: -13px;
    }

    @media screen and (max-width:$break-phone) {
        height: 85px;
    }
}

.divider-top-alt {
    position: absolute;
    top: -5px;
    background: color(purple);
    height: 250px;
    width: 100vw;
    clip-path: polygon(46% 30%, 67% 53%, 100% 25%, 100% 0, 85% 0, 65% 0, 30% 0, 0 0, 0 25%, 21% 56%);
    z-index: 10;
}

.divider-bottom-alt {
    position: absolute;
    z-index: 1;
    bottom: -2px;
    background: color(pink);
    height: 150px;
    width: 100vw;
    clip-path: polygon(51% 59%, 71% 30%, 100% 72%, 100% 100%, 52% 100%, 18% 100%, 0 100%, 0 75%, 21% 21%);
}

#loader {
    width: 100vw;
    height: 100vh;
    background: black;
    position: fixed;
    z-index: 999;
}

.loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: black;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(/img/gif/loading.gif);
    background-size: cover;
    background-position: center;
    background-repeat: none;

    .loader {
        width: 200px;
        height: 200px;
        background: rgb(32, 14, 24);
        box-sizing: border-box;
        border-radius: 50%;
        border-top: 20px solid rgb(202, 138, 168);
        animation: growMoon 1s ease-out infinite alternate;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 200ms;

        &:hover {
            transform: scale(1.2);
        }

    }



    span {
        color: white;
        margin-top: 20px;
        font-size: 20px;
    }

}

@keyframes colorScroll {
    0% {
        background-position: 600%;
    }

    100% {
        background-position: 0%;
    }
}

@keyframes growMoon {
    from {
        border-top: 2px solid rgb(223, 106, 160);
        background-color: rgb(32, 14, 24);
        transform: rotate(0deg);
    }

    to {
        border-top: 40px solid rgb(168, 41, 147);
        background-color: rgb(104, 42, 76);
        transform: rotate(45deg);
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes colorRotate {
    0% {
        filter: hue-rotate(0deg) brightness(160%);
    }

    100% {
        filter: hue-rotate(-359deg) brightness(160%);
    }
}

@keyframes colorRotate2 {
    0% {
        filter: hue-rotate(0deg) saturate(80%);
    }

    100% {
        filter: hue-rotate(-359deg) saturate(80%);
    }
}

@keyframes colorRotate3 {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(-359deg);
    }
}